aioaria2
aiofiles
aiohttp[speedups]
aioqbt
aioshutil
anytree==2.13.0
imdbinfo
apscheduler
beautifulsoup4
lxml
cloudscraper
dnspython
flask
gevent
gunicorn
httpx
motor
mutagen
natsort
pillow
psutil
pybase64
pycountry
pymongo
pyrotgfork==2.2.24
python-dotenv
python-magic
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
pytgcrypto
uvloop
uv
xattr
yt-dlp[default,curl-cffi]
pytz
tzlocal
cryptography>=41.0.0
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
langcodes
sabnzbdapi
myjd
niquests
wzgram
